<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="tests">
    <suite-files>
        <suite-file path="C:\Users\kashmi\Documents\workspace\LITesting\LITesting\src\test\resources\suitea.xml" />
        <suite-file path="C:\Users\kashmi\Documents\workspace\LITesting\LITesting\src\test\resources\suiteb.xml" />
    </suite-files>
</suite> <!-- Suite -->


























